<!-- 增加流动性 -->
<div class="addLiqui-pc" >
    <div class="main">

        <div class="coinDiv">
            <div class="firstPart">
                <div>
                    <img src="assets/static/img/coins/DAI.png" alt="">
                    <span>DAI</span>
                </div>
                <div>
                    <span>Balance</span>
                    <span>{{boot.balance.dai}}</span>
                    <span>DAI</span>
                </div>
            </div>
            <div class="second">
                <input type="text" name="" placeholder="Enter an amount">
            </div>
        </div>
        <div class="coinDiv">
            <div class="firstPart">
                <div>
                    <img src="assets/static/img/coins/BNB.png" alt="">
                    <span>BUSD</span>
                </div>
                <div>
                    <span>Balance</span>
                    <span>{{boot.balance.busd}}</span>
                    <span>BUSD</span>
                </div>
            </div>
            <div class="second">
                <input type="text" name="" placeholder="Enter an amount">
            </div>
        </div>
        <div class="coinDiv">
            <div class="firstPart">
                <div>
                    <img src="assets/static/img/coins/USDT.png" alt="">
                    <span>USDT</span>
                </div>
                <div>
                    <span>Balance</span>
                    <span>{{boot.balance.usdt}}</span>
                    <span>USDT</span>
                </div>
            </div>
            <div class="second">
                <input type="text" name="" placeholder="Enter an amount">
            </div>
        </div>
    </div>
    <div class="butDiv">
        <button>Add Liquidity</button>
    </div>
</div>