<!-- 取出流动性 -->
<div class="withdrawLiqui-pc">
    <div class="main">
        <div class="LiquidityRatio">
            <p>Your pool share (%)</p>
            <div class="enterDiv">
                <input type="text" name="" placeholder="Please enter a number (%)">
            </div>
        </div>
        <div>
            <div class="el-checkbox-group">
                <div class="coinDiv">
                    <div class="firstPart">
                        <div>
                            <img src="assets/static/img/coins/DAI.png" alt="">
                            <span>DAI</span>
                        </div>
                        <div>
                            <input type="checkbox" name="">
                        </div>
                    </div>
                    <div class="second">
                        <input type="text" name="" placeholder="Enter an amount">
                    </div>
                </div>
                <div class="coinDiv">
                    <div class="firstPart">
                        <div>
                            <img src="assets/static/img/coins/BUSD.png" alt="">
                            <span>BUSD</span>
                        </div>
                        <div>
                            <input type="checkbox" name="">
                        </div>
                    </div>
                    <div class="second">
                        <input type="text" name="" placeholder="Enter an amount">
                    </div>
                </div>
                <div class="coinDiv">
                    <div class="firstPart">
                        <div>
                            <img src="assets/static/img/coins/USDT.png" alt="">
                            <span>USDT</span>
                        </div>
                        <div>
                            <input type="checkbox" name="">
                        </div>
                    </div>
                    <div class="second">
                        <input type="text" name="" placeholder="Enter an amount">
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="butDiv">
        <button>Withdraw Liquidity</button>
    </div>
</div>